html {
  width: 100vw;
  height: 100vh;
}
* {
  box-sizing: border-box;
}
project {
  width: 100%;
  position: relative;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px 100px;
  z-index: 99;
  position: relative;
}

.logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.605);
}
.trigger {
}

video {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  object-fit: cover;
}

.text {
  position: absolute;
  padding: 100px 100px;
  width: 70%;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 640px) {
  .text {
    width: 100%;
    padding: 20px;
  }
}

h1 {
  font-size: 50px;
}

h1::first-line {
  font-size: 60px;
  font-weight: 900;
}

/* h1::first-line {
  font-weight: bold;
} */

span {
  width: 120px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  background-color: white;
  color: rgba(24, 23, 23, 0.527);

  /* padding: 10px 0px; */
}

.footer {
  display: flex;
  flex-direction: row;
  /* z-index: 1; */
  bottom: 100px;
  left: 100px;
  position: absolute;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  width: 150px;
}
.footer img {
  color: white;
}
/* footer {
  position: absolute;
  bottom: 100px;
  left: 100px;
  padding: 00px 100px;
  width: 100px;
  height: 10px;
  display: flex;
  width: 120px;
  flex-direction: row;
}
footer:nth-child {
  align-content: space-around;
} */

#test {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: url("../../../../Screen\ Shot\ 2022-07-08\ at\ 11.20.55\ am.png");
  background-size: cover;
  background-position: center;
  z-index: 100;
}
